body {
    background: #333;
    color: #fff;
}

a {
    color: #ffcc33;
}
a:hover {
    color: #ffcc33;
    text-decoration: underline;
}

.ctviewer-nav {
    background-color: #ffcc33;
    background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #ffff00), color-stop(0.05, #ffcc33), color-stop(1, #ff9933));
    background-image:-moz-linear-gradient(top, #ffff00, #ffcc33 5%, #ff9933);
    background-image:-o-linear-gradient(top, #ffff00, #ffcc33 5%, #ff9933);
    border-bottom: 1px solid #333;
}
.ctviewer-nav a {
    color: #333;
}

button.btn-primary {
    background-color: #ffcc33;
    background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #ffff00), color-stop(0.05, #ffcc33), color-stop(1, #ff9933));
    background-image:-moz-linear-gradient(top, #ffff00, #ffcc33 5%, #ff9933);
    background-image:-o-linear-gradient(top, #ffff00, #ffcc33 5%, #ff9933);
    border: 1px solid #333;
    color: #333;
}
button.btn-primary:hover {
    border-color: #ffcc33;
}
#citeMask {
    position: fixed;
    top: 0;
    z-index: 1999;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
}
#citeCTViewer {
    width: 50%;
    margin: 10px 25%;
    border: 1px solid #666;
    background: #333;
    position: fixed;
    padding: 5px;
    z-index: 2000;
}
#citeCTViewer pre {
    color: #fff;
}
#citeCTViewer h2 {
    font-size: 18px;
}
#citeCTViewer h3 {
    font-size: 16px;
}
div#ctvYearMarkerContainer {
    position: absolute;
    top: 50px;
    left: 350px;
    z-index: 5;
}
div.ctvYearMarker {
    margin: 0px 0px 10px 4px;
    padding: 0px 0px 0px 0px;
    color: #fff;
    font-size: 10px;
    width: 116px;
    display: inline-block;
    border: 0px;
    z-index: 5;
}
div.ctvTrial {
    background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #ffff00), color-stop(0.05, #ffcc33), color-stop(1, #ff9933));
    background-image:-moz-linear-gradient(top, #ffff00, #ffcc33 5%, #ff9933);
    background-image:-o-linear-gradient(top, #ffff00, #ffcc33 5%, #ff9933);
    border-radius: 5px;
    margin-bottom: 2px;
    padding-left: 5px;
    overflow: hidden;
    height: 20px;
    color: #333;
    z-index: 6;
    position: relative;
    font-size: 13px;
}
div.ctvTrialDetails {
    overflow-y: scroll;
    height: 500px;
}
div.ctvTrialDetails hr {
    border: 1px solid #666;
}
div.NoEndDate {
    background-image:-webkit-gradient(linear, left top, right top, color-stop(0, rgba(255, 204, 51, 1)), color-stop(0.5, rgba(255, 204, 51, 1)), color-stop(1, rgba(255, 204, 51, 0))) !important;
    background-image:-moz-linear-gradient(left, rgba(255, 204, 51, 1), rgba(255, 204, 51, 1) 50%, rgba(255, 204, 51, 0)) !important;
    background-image:-o-linear-gradient(left, rgba(255, 204, 51, 1), rgba(255, 204, 51, 1) 50%, rgba(255, 204, 51, 0)) !important;
    width: 300px;
}
div.NoStartDate {
    background-image:-webkit-gradient(linear, left top, right top, color-stop(0, rgba(255, 204, 51, 0)), color-stop(0.5, rgba(255, 204, 51, 1)), color-stop(1, rgba(255, 204, 51, 1))) !important;
    background-image:-moz-linear-gradient(left, rgba(255, 204, 51, 0), rgba(255, 204, 51, 1) 50%, rgba(255, 204, 51, 1)) !important;
    background-image:-o-linear-gradient(left, rgba(255, 204, 51, 0), rgba(255, 204, 51, 1) 50%, rgba(255, 204, 51, 1)) !important;
    width: 300px;
    text-align: right;
    padding-right: 4px;
}
div.NoDates {
    background-image:-webkit-gradient(linear, left top, right top, color-stop(0, rgba(255, 204, 51, 0)), color-stop(0.5, rgba(255, 204, 51, 1)), color-stop(1, rgba(255, 204, 51, 0))) !important;
    background-image:-moz-linear-gradient(left, rgba(255, 204, 51, 0), rgba(255, 204, 51, 1) 50%, rgba(255, 204, 51, 0)) !important;
    background-image:-o-linear-gradient(left, rgba(255, 204, 51, 0), rgba(255, 204, 51, 1) 50%, rgba(255, 204, 51, 0)) !important;
    width: 300px;
    text-align: center;
}
.ctvSticky {
    background: #333;
    border: 1px solid #666;
    padding: 5px;
    margin: 10px 3px 0px 10px;
    color: #eee;
    z-index: 700;
    width: 330px;
}
.ctvSticky p {
    font-size: 13px;
    margin-bottom: 4px;
}
.ctvSticky table {
    font-size: 11px;
}
.ctvSticky table tr.table-info {
    color: #333;
}
.ctvSticky table tr.table-info:hover {
    color: #000;
}
.ctvHidden {
    display: none;
}
.ctvSticky h1 {
    font-size: 16px;
}
.ctvSticky h2 {
    font-size: 16px;
}
.ctvSticky ul.nav {
    font-size: 14px;
}
.selectedTrial {
    background: #ffffff none !important;
}
.fdaDocument {
    background: #333;
    padding: 5px 7px;
    color: #eee;
    z-index: 7;
    font-size: 13px;
    border-left: 1px solid red;
    width: max-content;
}
.fdaDocumentFlat {
    position: absolute;
    top: 135px;
    margin-left: 351px;
}
.fdaDocumentStaggered {
    position: relative;
}
.fdaDocApplNo {
    font-size: 11px;
}
.ctvGraphSectionLabel {
    background: #333;
    margin-left: 1px;
    padding: 5px 7px;
    width: max-content;
    z-index: 6;
}
#ctvDrugViewGrid hr {
    border: 1px solid #666;
}
.ctvSticky label {
    font-size: 13px;
}
.fdaSubmission {
    background: #333;
    padding: 5px 7px;
    color: #eee;
    z-index: 7;
    font-size: 13px;
    border-left: 1px solid yellow;
    width: max-content;
}
.fdaSubmissionFlat {
    position: absolute;
    top: 135px;
    margin-left: 351px;
}
.fdaSubmissionStaggered {
    position: relative;
}
.fdaPMC {
    background: #333;
    padding: 5px 7px;
    color: #eee;
    z-index: 7;
    font-size: 13px;
    border-left: 1px solid cyan;
    width: max-content;
}
.fdaPMCFlat {
    position: absolute;
    top: 135px;
    margin-left: 351px;
}
.fdaPMCStaggered {
    position: relative;
}
.devicePMA {
    background: #333;
    padding: 5px 7px;
    color: #eee;
    z-index: 7;
    font-size: 13px;
    border-left: 1px solid yellow;
    width: max-content;
}
.devicePMAFlat {
    position: absolute;
    top: 135px;
    margin-left: 351px;
}
.devicePMAStaggered {
    position: relative;
}

.card {
    color: #333;
}
